@mixin border($color) {
    border: 1px solid transparent;
}

.header_wave_opacity {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.header_wave_opacity svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 159px;
}

.header_wave_opacity .shape-fill {
    fill: #ABC9FF;
}