@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #2f496e; */
  }
  nav {
    width: 100vw;
    height: 80px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 10px;
  }
  .bars {
    width: 40px;
    height: 40px;
    fill: #2f496e;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 23434;
  }
  nav #logo {
    padding: 0px 20px;
    width: 10vw;
    height: inherit;
    margin-left: 10px;
    /* border: 1px solid green; */
  }
  nav #logo h1 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    /* text-decoration: underline; */
  }
  nav #logo b {
    color: #ed8c72;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /* flex-wrap: wrap; */
    display: none;
    /* font-size: 2rem; */
  }
  nav ul li {
    list-style-type: none;
    padding: 10px;
    flex-basis: 200px;
    font-size: 1.5rem;
    padding: 5px 40px;
    /* display: none; */
    /* border:1px solid pink; */
  }
  nav ul li a {
    color: #2f496e;
    text-decoration: none;
  }

  header {
    width: 100vw;
    height: 70vh;
    position: relative;
    top: 15vh;
    background: #eeee;
    display: flex;
    flex-direction: row-reverse;
    /* background: url("pics/white-earphones-blue-background_72402-386.jpg") no-repeat; */
    /* background-size: cover; */
  }
  header section {
    height: inherit;
    display: flex;
    flex-direction: column;
    /* z-index: 2; */
  }

  header #header-main-con {
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    /* background:linear-gradient(to left, royalblue, rgb(55, 176, 212), rgb(55, 188, 212) ); */
    background: linear-gradient(to left, #ed8c72, #db542e);
    /* border: 1px solid green; */
    clip-path: polygon(10% 75%, 0% 10%, 100% 100%, 100% 0);
    /* clip-path: polygon(100% 0, 0% 100%, 100% 100% , 100% 0); */
  }
  header #header-main-con-2 {
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(
      to left,
      royalblue,
      rgb(55, 176, 212),
      rgb(55, 188, 212)
    );
    /* border: 1px solid green; */
    transform: rotate(20deg);
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    /* clip-path: polygon( 10% 75%, 0% 10%, 100% 100% , 100% 0); */
    clip-path: polygon(100% 0, 0% 100%, 100% 100%, 100% 0);
  }

  header #header-main-theme {
    width: 80%;
    flex-direction: column;
    position: relative;
    left: -80%;
    animation: loadIn 2s ease-out forwards 1;
    /* background:linear-gradient(to left, royalblue, rgb(55, 176, 212), rgb(55, 188, 212) ); */
    /* border: 1px solid green; */
  }
  header #header-main-theme h1 {
    width: 140px;
    font-size: 3em;
    font-weight: 100;
    padding: 10px 5px;
    margin-left: 10%;
    margin-bottom: 15px;
    position: relative;
    left: -80%;
    animation: loadIn 2s ease-out forwards 1;
    border-bottom: 3px solid pink;
    border-bottom-width: 5px;
    border-bottom-style: double;
  }
  header #header-main-theme b {
    color: #ed8c72;
  }
  header #header-main-theme p {
    font-size: 1.5rem;
    width: 320px;
    margin-left: 10%;
  }
  header #header-main-theme i {
    color: orangered;
  }

  header #header-main-theme p::before {
    content: " #";
    color: #ed8c72;
  }
  header #header-main-theme h1,
  header #header-main-theme p {
    z-index: 33;
  }
  header #header-main-arrows {
    width: 30px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 50%;
    /* border: 2px solid green; */
  }
  header #header-main-arrows svg {
    width: inherit;
    height: inherit;
    margin-top: -20px;
    padding: 0px 2px;
    position: relative;
  }

  header #header-main-arrows #fst-arrow {
    animation: Arrow-moveDown 0.5s ease forwards infinite;
    animation-delay: 0.8s;
  }
  header #header-main-arrows #scd-arrow {
    animation: Arrow-moveDown 0.5s ease forwards infinite;
    /* animation-delay: .4s; */
  }
  main {
    width: 100vw;
    position: relative;
    top: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    /* border: 1px solid green; */
  }
  main #main-intro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  main #main-intro-section #introductory-remarks {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    color: #2f496e;
    /* border: 1px solid pink; */
    border-radius: 12px;
    box-shadow: #eeee 2px 2px 2px 4px;
  }
  main #main-intro-section img {
    width: 50%;
    height: 500px;
    margin-right: 10px;
    border-radius: 30px;
    /* display:none; */
    /* border: 1px solid green; */
  }
  main #main-intro-section i {
    color: #2f496e;
  }
  main #main-intro-section p {
    margin: 10% auto;
    width: 50vw;
  }

  main #main-elements-of-music {
    margin: 40% 0;
    display: flex;
    flex-direction: row-reverse;
    background: url("Media/images/3761.png");
  }
  #elem-text {
    background: rgba(255, 255, 255, 0.616);
    border-radius: 40px;
    padding: 10px;
  }
  main #main-elements-of-music h2 {
    font-weight: 100;
    color: royalblue;
  }
  main #main-elements-of-music strong {
    color: #ed8c72;
  }
  main #main-elements-of-music img {
    width: 300px;
    display: none;
    border-radius: 20px;
  }

  main #main-instrument {
    width: 95vw;
    margin: 0 auto;
    height: 700px;
    margin-top: -10vh;
    background: #000
      url("Click to enlarge music wallpaper backgrounds and download.jpg");
    background-position: 250px 200px;
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(32, 28, 28, 0.933) 2px 2px 4px 4px;
    /* align-items: center; */
  }
  main #main-instrument-intro {
    width: 100%;
    color: #fff;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid pink; */
  }
  main #main-instrument-intro-header {
    width: 50%;
    color: #fff;
    height: 70%;
    position: relative;
    top: calc(100% - 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.103); */
    border-radius: 10px;
  }
  main #main-instrument-intro blockquote {
    width: 60%;
    /* border: 1px solid #fff; */
  }
  main #main-instrument-intro button {
    position: absolute;
    color: orange;
    background: none;
    border: none;
  }
  main #main-instrument-intro #next-link {
    bottom: 100px;
  }
  main #main-instrument-intro button:hover {
    color: rgb(223, 138, 10);
  }
  main #main-musical-instrument-types {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: calc(100% - 35%);
    /* border: 1px solid pink; */
    /* text-emphasis: wrap; */
    /* overflow: hidden; */
  }
  main #main-musical-instrument-types p {
    width: 70%;
  }
  main #main-instrument-list {
    /* border: 2px solid pink; */
    margin-top: 0px;
    height: 60px;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
  }
  main #main-instrument-types table,
  td,
  th {
    border: 1px solid #333;
    width: 30%;
    height: 40%;
    /* padding: 5px; */
  }
  #prev {
    position: absolute;
    bottom: -10px;
  }
  /* td, th{
    padding: 10px;
} */
  main #main-instrument-list ul {
    /* width: ; */
    height: inherit;
    display: flex;
    flex-direction: row;
  }
  main #main-instrument-list ul li {
    list-style: none;
    padding: 10px;
  }
  main #main-instrument-list ul li a {
    color: #fff;
    text-decoration: none;
    /* background: rgb(45, 48, 221); */
    padding: 10px;
    height: 30px;
    border-radius: 10px;
  }

  main #musical-professions {
    width: 100vw;
    height: 600px;
    background: #2f496e url("1gSvNc.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
  }
  main #musical-professions #musical-professions-intro {
    width: 90%;
    height: 80%;
    background: rgba(32, 169, 248, 0.562);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0px 30px;
    overflow-y: scroll;
    /* border: 1px solid green; */
  }
  #musical-professions-intro::-webkit-scrollbar {
    width: 10px;
  }
  #musical-professions-intro::-webkit-scrollbar-track {
    background: royalblue;
    border-radius: 30px;
  }
  #musical-professions-intro::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 30px;
  }
  #musical-professions-intro::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 73, 73);
  }
  main #musical-professions-intro h2 {
    padding: 10px 20px;
    /* width: 100%; */
    /* margin-top: 150px; */
    /* margin-left: 50%; */
    font-size: 2em;
    color: #fff;
    height: 50px;
    font-weight: 100;
    position: sticky;
    top: 10px;
    border-radius: 20px;
    background: rgba(32, 169, 248, 0.562);
    border-bottom: 2px solid #fff;
  }

  main #musical-professions-intro h2 b {
    color: #db542e;
  }

  main #musical-professions-intro p {
    width: 50%;
    padding: 10px;
  }
  main #musical-professions-intro i {
    color: #fff;
  }
  main #musical-professions-intro a {
    color: #eec306;
  }
  #cookies {
    width: 100vw;
    height: 40px;
    background: #2f496e;
    color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  #cookies button {
    width: 30px;
    height: 30px;
    background: green;
    color: #fff;
    border: none;
    /* padding: 10px; */
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cookies button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  #cookies button:hover {
    background: rgb(13, 102, 13);
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background: #eeeeee;
    /* border: 1px solid green; */
  }
  footer #logo {
    padding: 0px 20px;
    width: 10vw;
    height: inherit;
    margin-left: 10px;
    /* border: 1px solid green; */
  }
  footer #logo h1 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    /* text-decoration: underline; */
  }
  footer #logo b {
    color: #ed8c72;
  }
  footer #socialmedia {
    width: 200px;
    height: inherit;
    /* border: 1px solid pink; */
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer #socialmedia svg {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  footer #socialmedia #facebook-btn {
    fill: royalblue;
  }
  footer #socialmedia #twitter-btn {
    fill: #1da1f2;
  }
  footer #socialmedia #gmail-btn {
    fill: rgb(182, 33, 33);
  }

  #orange {
    background: rgb(221, 78, 12);
  }
  #orange:hover,
  #orange:focus {
    background: rgb(180, 64, 11);
  }
  #green {
    background: green;
  }
  #green:hover,
  #green:focus {
    background: rgb(5, 95, 5);
  }
  #blue {
    background: rgb(22, 107, 187);
  }
  #blue:hover,
  #blue:focus {
    background: rgb(11, 86, 156);
  }
  #pink {
    background: rgb(211, 33, 62);
  }
  #pink:hover,
  #pink:focus {
    background: rgb(197, 15, 46);
  }

  .hide {
    animation: hide 2s ease forwards;
  }
  .show {
    animation: show 2s ease forwards;
    display: flex;
    /* animation-delay: 1.2s; */
  }
  .appear {
    animation: appear 1s ease forwards;
  }
  /*************************************************************
****************************************************************
                ANIMATION
****************************************************************
****************************************************************/
  @keyframes loadIn {
    0% {
      left: -20%;
      opacity: 0;
    }
    50% {
      left: -10%;
      opacity: 0.5;
    }
    100% {
      left: 0%;
      opacity: 1;
      z-index: 33;
    }
  }
  @keyframes Arrow-moveDown {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: 5px;
      opacity: 0;
    }
  }
  @keyframes hide {
    0% {
      bottom: 0;
      opacity: 1;
    }
    100% {
      bottom: 410px;
      opacity: 0;
    }
  }
  @keyframes show {
    0% {
      position: relative;
      top: calc(100% - 40%);
    }
    100% {
      position: relative;
      top: calc(100% - 120%);
    }
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
}

/***************************************** TABLETS *************************************************
****************************************************************************************************/

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav {
    width: 100vw;
    height: 80px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: space-between;
    background: #fff;
  }
  .bars {
    width: 40px;
    height: 40px;
    fill: #2f496e;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 23434;
  }
  nav #logo {
    padding: 0px 20px;
    width: 10vw;
    height: inherit;
    margin-left: 10px;
  }
  nav #logo h1 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
  }
  nav #logo b {
    color: #ed8c72;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    display: none;
  }
  nav ul li {
    list-style-type: none;
    padding: 10px;
    flex-basis: 200px;
    font-size: 1.5rem;
    padding: 5px 40px;
  }

  nav ul li a {
    color: #2f496e;
    text-decoration: none;
  }

  header {
    width: 100vw;
    height: 70vh;
    position: relative;
    top: 15vh;
    background: #eeee;
    display: flex;
    flex-direction: row-reverse;
  }
  header section {
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  header #header-main-con {
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to left, #ed8c72, #db542e);
    clip-path: polygon(10% 75%, 0% 10%, 100% 100%, 100% 0);
  }
  header #header-main-con-2 {
    width: 40%;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(
      to left,
      royalblue,
      rgb(55, 176, 212),
      rgb(55, 188, 212)
    );
    /* border: 1px solid green; */
    transform: rotate(20deg);
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0.7;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%, 100% 0);
  }

  header #header-main-theme {
    width: 80%;
    flex-direction: column;
    position: relative;
    left: -80%;
    animation: loadIn 2s ease-out forwards 1;
  }
  header #header-main-theme h1 {
    width: 140px;
    font-size: 3em;
    font-weight: 100;
    padding: 10px 5px;
    margin-left: 10%;
    margin-bottom: 15px;
    position: relative;
    left: -80%;
    animation: loadIn 2s ease-out forwards 1;
    border-bottom: 3px solid pink;
    border-bottom-width: 5px;
    border-bottom-style: double;
  }
  header #header-main-theme b {
    color: #ed8c72;
  }
  header #header-main-theme p {
    font-size: 1.5rem;
    width: 320px;
    margin-left: 10%;
  }
  header #header-main-theme i {
    color: orangered;
  }

  header #header-main-theme p::before {
    content: " #";
    color: #ed8c72;
  }
  header #header-main-theme h1,
  header #header-main-theme p {
    z-index: 33;
  }
  header #header-main-arrows {
    width: 30px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 50%;
  }
  header #header-main-arrows svg {
    width: inherit;
    height: inherit;
    margin-top: -20px;
    padding: 0px 2px;
    position: relative;
  }

  header #header-main-arrows #fst-arrow {
    animation: Arrow-moveDown 0.5s ease forwards infinite;
    animation-delay: 0.8s;
  }
  header #header-main-arrows #scd-arrow {
    animation: Arrow-moveDown 0.5s ease forwards infinite;
  }
  main {
    width: 100vw;
    position: relative;
    top: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid green; */
  }
  main #main-intro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  main #main-intro-section #introductory-remarks {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    color: #2f496e;
    border-radius: 12px;
    box-shadow: #eeee 2px 2px 2px 4px;
  }
  main #main-intro-section img {
    width: calc(100% - 60%);
    height: 500px;
    margin-right: 10px;
    border-radius: 30px;
    /* border: 1px solid green; */
  }
  main #main-intro-section i {
    color: #2f496e;
  }
  main #main-intro-section p {
    margin: 10% auto;
    width: 50vw;
  }

  main #main-elements-of-music {
    margin: 30% 0;
    display: flex;
    flex-direction: row-reverse;
  }
  main #main-elements-of-music h2 {
    font-weight: 100;
    color: royalblue;
  }
  main #main-elements-of-music strong {
    color: #ed8c72;
  }
  main #main-elements-of-music img {
    width: calc(100% - 10%);
    border-radius: 20px;
  }

  main #main-instrument {
    width: 95vw;
    margin: 0 auto;
    height: 700px;
    margin-top: -10vh;
    background: #000
      url("Click to enlarge music wallpaper backgrounds and download.jpg");
    background-position: 200px -10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(32, 28, 28, 0.933) 2px 2px 4px 4px;
  }
  main #main-instrument-intro {
    width: 50%;
    color: #fff;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid pink; */
  }
  main #main-instrument-intro-header {
    width: 50%;
    color: #fff;
    height: 70%;
    position: relative;
    top: calc(100% - 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  main #main-instrument-intro blockquote {
    width: 60%;
  }
  main #main-instrument-intro button {
    position: absolute;
    color: orange;
    background: none;
    border: none;
  }
  main #main-instrument-intro #next-link {
    bottom: 100px;
  }
  main #main-instrument-intro button:hover {
    color: rgb(223, 138, 10);
  }
  main #main-musical-instrument-types {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: calc(100% - 35%);
  }
  main #main-musical-instrument-types p {
    width: 70%;
  }
  main #main-instrument-list {
    margin-top: 0px;
    height: 60px;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
  }
  main #main-instrument-types table,
  td,
  th {
    border: 1px solid #333;
    width: 30%;
    height: 40%;
  }
  #prev {
    position: absolute;
    bottom: -10px;
  }
  main #main-instrument-list ul {
    height: inherit;
    display: flex;
    flex-direction: row;
  }
  main #main-instrument-list ul li {
    list-style: none;
    padding: 10px;
  }
  main #main-instrument-list ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    height: 30px;
    border-radius: 10px;
  }

  main #musical-professions {
    width: 100vw;
    height: 600px;
    background: #fff url("1gSvNc.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #musical-professions #musical-professions-intro {
    width: 50%;
    height: 80%;
    background: rgba(32, 169, 248, 0.562);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0px 30px;
    overflow-y: scroll;
  }
  #musical-professions-intro::-webkit-scrollbar {
    width: 10px;
  }
  #musical-professions-intro::-webkit-scrollbar-track {
    background: royalblue;
    border-radius: 30px;
  }
  #musical-professions-intro::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 30px;
  }
  #musical-professions-intro::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 73, 73);
  }
  main #musical-professions-intro h2 {
    padding: 10px 20px;
    font-size: 2em;
    color: #fff;
    height: 50px;
    font-weight: 100;
    position: sticky;
    top: 10px;
    border-radius: 20px;
    background: rgba(32, 169, 248, 0.562);
    border-bottom: 2px solid #fff;
  }

  main #musical-professions-intro h2 b {
    color: #db542e;
  }

  main #musical-professions-intro p {
    width: 50%;
    padding: 10px;
  }
  main #musical-professions-intro i {
    color: #fff;
  }
  main #musical-professions-intro a {
    color: #eec306;
  }
  #cookies {
    width: 100vw;
    height: 40px;
    background: #2f496e;
    color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  #cookies button {
    width: 30px;
    height: 30px;
    background: green;
    color: #fff;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cookies button svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  #cookies button:hover {
    background: rgb(13, 102, 13);
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background: #eeeeee;
  }
  footer #logo {
    padding: 0px 20px;
    width: 10vw;
    height: inherit;
    margin-left: 10px;
  }
  footer #logo h1 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
  }
  footer #logo b {
    color: #ed8c72;
  }
  footer #socialmedia {
    width: 200px;
    height: inherit;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer #socialmedia svg {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  footer #socialmedia #facebook-btn {
    fill: royalblue;
  }
  footer #socialmedia #twitter-btn {
    fill: #1da1f2;
  }
  footer #socialmedia #gmail-btn {
    fill: rgb(182, 33, 33);
  }
  #orange {
    background: rgb(221, 78, 12);
  }
  #orange:hover,
  #orange:focus {
    background: rgb(180, 64, 11);
  }
  #green {
    background: green;
  }
  #green:hover,
  #green:focus {
    background: rgb(5, 95, 5);
  }
  #blue {
    background: rgb(22, 107, 187);
  }
  #blue:hover,
  #blue:focus {
    background: rgb(11, 86, 156);
  }
  #pink {
    background: rgb(211, 33, 62);
  }
  #pink:hover,
  #pink:focus {
    background: rgb(197, 15, 46);
  }
  .hide {
    animation: hide 2s ease forwards;
  }
  .show {
    animation: show 2s ease forwards;
    display: flex;
    /* animation-delay: 1.2s; */
  }
  .appear {
    animation: appear 1s ease forwards;
  }
  /*************************************************************
****************************************************************
                ANIMATION
****************************************************************
****************************************************************/
  @keyframes loadIn {
    0% {
      left: -20%;
      opacity: 0;
    }
    50% {
      left: -10%;
      opacity: 0.5;
    }
    100% {
      left: 0%;
      opacity: 1;
      z-index: 33;
    }
  }
  @keyframes Arrow-moveDown {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: 5px;
      opacity: 0;
    }
  }
  @keyframes hide {
    0% {
      bottom: 0;
      opacity: 1;
    }
    100% {
      bottom: 410px;
      opacity: 0;
    }
  }
  @keyframes show {
    0% {
      position: relative;
      top: calc(100% - 40%);
    }
    100% {
      position: relative;
      top: calc(100% - 120%);
    }
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
}
